apiVersion: v1
kind: Service
metadata:
  name: {{ include "acc-calc.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      nodePort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  selector:
    name: acc-calc
